[submodule "docs/world-id-docs"]
	path = docs/world-id-docs
	url = git@github.com:worldcoin/world-id-docs.git
[submodule "docs/walrus"]
	path = docs/walrus
	url = git@github.com:MystenLabs/walrus.git
[submodule "docs/ledger-live-wiki"]
	path = docs/ledger-live-wiki
	url = https://github.com/LedgerHQ/ledger-live.wiki.git
[submodule "docs/minikit-js"]
	path = docs/minikit-js
	url = https://github.com/worldcoin/minikit-js.git
